$colors: (primary: #EEEEEE,
  secondary: #252525,
  footer_accent: #F8F8F8,
  footer_accent_dark: #1f1f1f,
  best_blue: #2240E7,
  accent_bl: #00C2FF,
  accent_or: #FFD12F,
  accent_ro: #E52B50);

$lightM_colors: (lightest_color: #45EBA5,
  mid_color: #d6e4f0,
  darkest_color: #2953B8);

$darkM_colors: (lightest_color: #45EBA5,
  mid_color: #21ABA5,
  darkest_color: #1D566E);

$margins: (svg_projects_bg : 60px,
  icons: 5px,
  footer_padding: 10px,
  descriptions_box_sides: 20vw,
  descriptions_box_top_bottom: 130px,
  descr: 20px,
  about: 20px,
  my_face: 30px,
  about_me: 40px);