$colors: (primary: #EEEEEE,
  secondary: #252525,
  footer_accent: #F8F8F8,
  footer_accent_dark: #1f1f1f,
  best_blue: #2240E7,
  accent_bl: #10BAEF,
  accent_or: #FFD12F,
  accent_ro: #E52B50,
);

$margins: (svg_projects_bg : 100px,
  icons: 5px,
  footer_padding: 10px,
  descriptions_box_sides: 20vw,
  descriptions_box_top_bottom: 130px,
  descr: 20px);