//Variables
$colors: (primary: #EEEEEE,
  secondary: #252525,
  best_blue: #2240E7,
  accent_bl: #10BAEF,
  accent_or: #FFD12F,
  accent_ro: #E52B50,
);

//CSS
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: map-get($colors, primary);
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Nunito';
}

header {
  position: relative;
  top: 4vh;
  //background-color: #2240E7;

  display: flex;
  height: 7vh;
  width: 95vw;
  margin: auto;
  align-items: center;
  //margin-bottom: 10vh;


  // * NAV
  nav {
    //background-color: #10BAEF;
    display: none;
    height: 100%;
    position: relative;

    .nav-links {

      position: absolute;
      list-style: none;
      bottom: 15vh;
      left: 5vw;
      //transform: translate(-95vw -85vh);
      //transform: rotate(-90deg);


    }

    .nav-link {
      color: map-get($colors, secondary);
      text-decoration: none;
      font-weight: 800;
      letter-spacing: 0.15rem;
      font-size: 6rem; //! mediaQ
      cursor: pointer;
    }

    #contact {
      color: map-get($map: $colors, $key: best_blue);
    }
  }


  //* DARK MODE
  .select-mode {
    //top: 10vh;
    flex: 1;
    display: flex;
    justify-content: flex-start;

    svg {
      cursor: pointer;
    }
  }
}


main {
  display: flex;
  justify-content: flex-end;
  //background-color: rgb(239, 16, 83);
  height: 93vh;

  h1 {
    font-weight: 200;
    font-size: 5rem;
  }

  h4,
  p {
    padding-left: 0.45rem;
    font-weight: 700;
  }

  h4 {
    transform: translate(0, 1rem);
  }

  .home {
    position: relative;
    //display: flex;
    //background-color: red;

  }

  svg {
    //background-color: rgb(16, 239, 16);
    position: relative;
    top: 10px;
    left: 20vw;
    //right: 10vw;
    //max-height: 80vh;
    margin-right: 25vw;
    //transform: translate(-50%, -50%)

    circle:hover {
      fill: #E52B50;
    }
  }

  .summary {
    position: fixed;
    //background-color: rgb(239, 16, 83);
    position: relative;
    top: 60vh;
    left: 5vw;
    z-index: 3;
    //transform: translate(0, -120vh)
  }
}