//Variables
@import 'variables';

//CSS
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: map-get($colors, primary);
  font-family: 'Open Sans', sans-serif;
}

header {
  position: fixed;
  top: 17px;
  z-index: 10; //so that the nav menu appears above the main

  display: flex;
  height: 7vh;
  width: 95vw;
  margin: auto;

  // ! REMOVE ONCE SITE IS FINISHED
  .temp-sign {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

    h2 {
      color: map-get($map: $colors, $key: accent_ro)
    }
  }

  // * HAMBURGER
  .menu-wrapper {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    align-items: center;

    .toggle {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: 999;
      cursor: pointer;
      opacity: 0;
    }

    .hamburger {
      width: 50px;
      height: 50px;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: 998;

      display: flex;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;
      padding: 10px;
      transition: all 0.3s ease;

      .bar {
        position: relative;
        width: 100%;
        height: 3px;
        background: map-get($map: $colors, $key: secondary);
        z-index: 5;
        transition: all 0.2s linear;
      }

      .bar::before,
      .bar::after {
        content: '';
        position: absolute;
        top: -10px;
        width: 100%;
        height: 3px;
        background: inherit;
        transition: all 0.2s linear;
      }

      .bar::after {
        top: 10px;
      }
    }

    .toggle:hover+.hamburger {
      transform: rotate(-25deg);
      border-radius: 50%;
    }

    .toggle:checked+.hamburger {
      transform: rotate(45deg);
    }

    .toggle:checked:hover+.hamburger {
      transform: rotate(135deg);
    }

    .toggle:checked+.hamburger .bar::before,
    .toggle:checked+.hamburger .bar::after {
      top: 0;
      transform: rotate(90deg);
    }
  }



  nav {
    position: fixed;
    top: -15px;
    left: -15px;

    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: map-get($map: $colors, $key: primary);
    transition: opacity 0.3s ease, top 0.3s ease, left, width 0.1s ease, height 0.25s ease;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .menu-wrapper .toggle:checked+.hamburger+nav {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }


  // * NAV
  nav {
    height: 100%;
    position: relative;
    z-index: 997;

    .nav-links {

      position: absolute;
      list-style: none;
      bottom: 15vh;
      left: 5vw;
    }

    .nav-link {
      color: map-get($colors, secondary);
      text-decoration: none;
      font-weight: 800;
      letter-spacing: 0.15rem;
      font-size: 6rem; // TODO mediaQ
      cursor: pointer;
    }

    #contact {
      color: map-get($map: $colors, $key: best_blue);
    }
  }




  //* DARK MODE
  .select-mode {
    position: fixed;
    right: 17px;
    flex: 1;
    display: flex;
    justify-content: flex-end;


    svg {
      cursor: pointer;
      z-index: 1000;
    }
  }
}


main {
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 200;
    font-size: 7rem;
    color: #131313;
  }

  .intro {
    padding-left: 0.45rem;
    font-weight: 700;
  }

  h4.intro {
    transform: translateY(2rem);
  }

  p.intro {
    transform: translateY(-1.2rem);
  }

  .to-the-top {

    #myBtnL,
    #myBtnD {
      display: none;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 99;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
    }
  }

  .dark-button {
    opacity: 0;
  }

  .home {
    flex: 2;
    position: relative;

    svg {
      position: relative;
      left: 20vw;

      circle:hover {
        fill: #E52B50;
      }
    }

    .phone {
      display: none;
    }

    .boxing {
      position: relative;
      box-sizing: border-box;
      text-align: left;

      .summary {
        z-index: 3;
        width: fit-content;
        position: relative;
        top: 70vh;
        left: 200px;
      }
    }
  }

  .about {
    flex: 1;
  }

  .projects {
    position: relative;
    flex: 1;

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: justify;
      position: relative;
      margin-left: map-get($map: $margins, $key: descriptions_box_sides);
      margin-right: map-get($map: $margins, $key: descriptions_box_sides);
      margin-top: map-get($map: $margins, $key: descriptions_box_top_bottom);
      margin-bottom: map-get($map: $margins, $key: descriptions_box_top_bottom);

      .preview {
        flex: 0.2;

        .img-cropper {
          width: 250px;
          height: 250px;
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          border: 3px solid white;

          img {
            margin: 0 auto;
            height: 100%;
            width: auto;
          }
        }
      }

      .descr {
        flex: 1;
        position: relative;
        margin: map-get($map: $margins, $key: descr);
      }

      p {
        font-weight: normal;

        bold {
          font-weight: bold;
        }
      }
    }

    .back-ground {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: -10;
      max-height: 0px;

      .left {
        display: flex;
        justify-content: flex-start;
        padding-left: map-get($margins, svg_projects_bg);
      }

      .right {
        display: flex;
        justify-content: flex-end;
        padding-right: map-get($margins, svg_projects_bg);
      }
    }
  }
}

footer {
  text-align: center;
  padding: map-get($map: $margins, $key: footer_padding);
  background-color: map-get($map: $colors, $key: footer_accent);

  h3 {
    margin-bottom: 10px;
  }

  .profile-links {
    display: flex;
    justify-content: center;

    .profile-svg {
      filter: invert(100%) sepia(30%) saturate(3198%) hue-rotate(335deg) brightness(153%) contrast(85%);
      margin: map-get($map: $margins, $key: icons)
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 630px) {
  header {
    .temp-sign {
      h2 {
        position: relative;
        top: 4px;
        font-size: 12px;
      }
    }
  }

  main {
    h1 {
      font-size: 5rem;
    }

    .home {
      .desktop {
        display: none;
      }

      .phone {
        display: inline-block;
      }

      .boxing {
        max-height: 100px;

        .summary {
          left: 70px; //20
          top: 60vh;

          .intro {
            font-size: 0.8rem;
          }

          h4.intro {
            transform: translateY(1.6rem);
          }
        }
      }

      svg {
        left: 0;
        width: 100vw;
        height: 1000px;

        .small-device {
          display: none;
        }
      }
    }

    .projects {
      .content {
        flex-direction: column;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 90px;
        margin-bottom: 90px;

        .preview {
          .img-cropper {
            height: 200px;
            width: 200px;
          }
        }

        .descr {
          margin-left: 40px;
          margin-right: 40px;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 530px) {
  main {
    .home {
      svg {
        height: 840px;
      }

      .boxing {
        .summary {
          left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  main {
    .to-the-top {

      #myBtnD,
      #myBtnL {
        bottom: 10px;
        right: 15px;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    .home {
      svg {
        height: 700px;

        .small-device {
          display: block;
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {
  main {
    .home {
      svg {
        height: 595px;
      }
    }
  }
}



//TODO Add media queries for table phone and smaller (width and size !) computer screen
//TODO Fix hover properties broken when using on mobile